﻿@model TheatreApp.Models.Security.LoginViewModel
@{
    ViewBag.Title = "Авторизация";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div class="col-md-6 col-md-offset-3">
            <h2>Авторизация</h2>
            @using (Html.BeginForm("Login", "User", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                if (!ViewData.ModelState.IsValid)
                {
                    <div class="form-group">
                        @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(a => a.Login, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(a => a.Login, new { @class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Войти" class="btn btn-default" />
                    </div>
                </div>
            }
            @if (!@User.Identity.IsAuthenticated || @User.IsInRole("user"))
            {
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Зарегистрироваться", "Register", "User", null, new {@class= "btn btn-default"})
                </div>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</body>
</html>
