﻿@{
    ViewBag.Title = "Афиша";
}

@section scripts
{

    <script type="text/javascript">
        userIsAuthorize = @Json.Encode(User.Identity.IsAuthenticated);
    </script>
    <script type="text/javascript" src="~/Scripts/App/viewModels.js"></script>
    <script>
        $(function() {
            urlHelper.baseUrl = @Url.Content("~");
            ko.applyBindings(new AfficheViewModel());
        });
    </script>

    <script type="text/javascript" src="~/Scripts/modal.js"></script>
    <script type="text/html" id="reserve-modal">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="background: white">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-bind="click: cancel">&times;</button>
                    <h3 data-bind="text: 'Бронирование мест на спектакль ' + seance.spectacleName">
                        Бронирование мест на спектакль <span data-bind="text: seance.spectacleName"></span>
                    </h3>
                </div>
                <div class="modal-body">
                    <h4>
                        Дата и время сеанса: <span data-bind="text: seance.date.format('DD:MM:YYYY HH:mm')"></span>
                    </h4>
                    <form data-bind="submit: reserve" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2 control-label">Количество мест</div>
                            <div class="col-md-10">
                                <input class="form-control" data-bind="textInput: seatsCount"/>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-danger" role="alert" data-bind="visible: errors().length > 0">
                        <ul data-bind="foreach: errors">
                            <li>
                                <p data-bind="text: $data"></p>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-bind="click: reserve">Забронировать</a>
                <a class="btn" data-bind="click: cancel">Отмена</a>
            </div>
        </div>
    </div>
</script>
}

<div class="row">
    <div class="col-md-2 col-md-offset-1" data-bind="with: filteringMenuViewModel">
        <div class="row">
            <h2>Спектакли</h2>
            <hr/>
            <div class="list-group" data-bind="foreach: spectacles">
                <a class="list-group-item" data-bind="click: function(data, event){$parent.selectedSpectacle(data.id)}, css : {active: $parent.selectedSpectacle() == id}">
                    <span data-bind="text: name"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                    <span data-bind="text: (selectedDate() ? selectedDate().format('DD:MM:YYYY') : 'Все даты')"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownmenu" data-bind="foreach : dates">
                    <li>
                        <a data-bind="click: function(data, event){$parent.selectedDate(data)}, text: $data ? $data.format('DD:MM:YYYY') : 'Все даты'" class="btn"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-md-7 col-md-offset-1">
        <div>
            <h2>Афиша</h2>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Спектакль</th>
                        <th>Дата</th>
                        <th>Время сеанса</th>
                        <th>Оставшееся количество билетов</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: seances">
                    <tr>
                        <td data-bind="text: spectacleName"></td>
                        <td data-bind="text: date.format('DD:MM:YYYY')"></td>
                        <td data-bind="text: date.format('HH:mm')"></td>
                        <td data-bind="text: availableSeatsCount"></td>
                        <td data-bind="if: userIsAuthorize">
                            <button class="btn btn-default" data-bind="click: $root.reserve, enable: availableSeatsCount() > 0">Забронировать</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div data-bind="with: pagingInfo, visible: pagingInfo.totalPagesCount() > 1">
                <ul class="pagination" data-bind="foreach: pagesList">
                    <li data-bind="css: {active: $data == $parent.currentPage()}">
                        <a data-bind="text: $data, click : function(data, event){$parent.currentPage(data)}"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="progress" data-bind="visible: isBusy">
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" >
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div>
