﻿@model BusinessLayer.DTO.SpectacleDTO
@{
    ViewBag.Title = "Добавление";
}

<div class="col-md-6 col-md-offset-3">
    <h2>Добавление спектакля</h2>
    @using (Html.BeginForm("Create", "Spectacle", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        Html.RenderPartial("EditSpectacle", Model);
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Добавить" />
            </div>
        </div>
    }
</div>
