﻿@model BusinessLayer.DTO.SpectacleDTO

@{
    ViewBag.Title = "Удаление";
}

<div class="col-md-6 col-md-offset-3">
    <h2>Удалить спектакль '@Model.Name'?</h2>
    @using (Html.BeginForm("Delete", "Spectacle", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Удалить" class="btn btn-default"/>
            </div>
        </div>
    }
</div>
