﻿@model BusinessLayer.DTO.SpectacleDTO

@if (!ViewData.ModelState.IsValid)
        {
<div class="form-group">
    @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
</div>
        }

<div class="form-group">
    @Html.HiddenFor(a => a.Id)
</div>
<div class="form-group">
    @Html.LabelFor(a => a.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
    </div>
</div>
