﻿@using BusinessLayer.DTO
@model TheatreApp.Models.SeancesViewModel

@{
    ViewBag.Title = Model.SpectacleName;
}

<div class="col-md-8 col-md-offset-2">
    <h2>@Model.SpectacleName</h2>
    @Html.ActionLink("Добавить сеанс", "Create", "Seance", new { spectacleId = Model.SpectacleId }, new { @class = "btn btn-default" })
    <table class="table">
        <tr>
            <th>Дата и время</th>
            <th />
            <th />
        </tr>
        @foreach (SeanceDTO seance in Model.Seances)
        {
            <tr>
                <td>@seance.Date.ToString("f")</td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", "Seance", new { id = seance.Id }, new { @class = "btn btn-default" })
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", "Seance", new { id = seance.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </table>
</div>


