﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Администрирование", "Index", "Home", new {area = "Admin"}, new {@class = "navbar-brand"})
            </div>
        </div>
        @if (Session["Admin"] != null)
        {
            <div class="navbar-right">
                @Html.ActionLink("Выйти", "Logout", "User")
            </div>
        }

    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)


</body>
</html>
