﻿@model BusinessLayer.DTO.SeanceDTO

@{
    ViewBag.Title = "Удаление";
}

<div class="col-md-6 col-md-offset-3">
    <h2>Удалить сеанс на спектакль '@Model.SpectacleName'?</h2>
    <h4>@Model.Date.ToString("f")</h4>
    @using (Html.BeginForm("Delete", "Seance", new { seanceId = Model.Id, spectacleId = Model.SpectacleId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Удалить" class="btn btn-default" />
            </div>
        </div>
    }
</div>
