﻿@model BusinessLayer.DTO.SeanceDTO

@{
    
    ViewBag.Title = "Сеанс";
}

<div class="col-md-6 col-md-offset-3">
    <h2>Редактирование сеанса на спектакль @Model.SpectacleName</h2>
    @using (Html.BeginForm("Edit", "Seance", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        Html.RenderPartial("EditSeance", Model);
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default"/>
            </div>
        </div>
    }
</div>