﻿@model BusinessLayer.DTO.SeanceDTO


@if (!ViewData.ModelState.IsValid)
{
    <div class="form-group">
        @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
    </div>
}

<div class="form-group">
    @Html.HiddenFor(a => a.Id)
    @Html.HiddenFor(a => a.SpectacleName)
    @Html.HiddenFor(a => a.SpectacleId)
</div>


<div class="form-group">
    @Html.LabelFor(a => a.TicketsCount, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.TicketsCount, new { @class = "form-control", Style = "max-width: 1000px;" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(a => a.Date, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <div class="input-group date" id="datetimepicker2">
            @Html.TextBoxFor(a => a.Date, new { @class = "form-control", Style = "max-width: 1000px;" })
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        $('#datetimepicker2').datetimepicker({
            locale: 'ru'
        });
    });
    </script>
</div>