﻿@using TheatreApp.Models
@model IEnumerable<BusinessLayer.DTO.SpectacleDTO>
@{
    ViewBag.Title = "Спектакли";
}

<div class="col-md-8 col-md-offset-2">
    <h3>Список спектаклей</h3>
    @Html.ActionLink("Добавить спектакль", "Create", "Spectacle", null, new {@class = "btn btn-default"})
    <table class="table">
        <tr>
            <th>Название</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var spectacle in Model)
        {
            <tr>
                <td>@spectacle.Name</td>
                <td>@Html.ActionLink("Сеансы", "Seances", "Spectacle", new {id = spectacle.Id}, new {@class = "btn btn-default"})</td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", "Spectacle", new {id = spectacle.Id}, new {@class = "btn btn-default"})
                    @Html.ActionLink("Удалить", "Delete", "Spectacle", new {id = spectacle.Id}, new {@class = "btn btn-default"})
                </td>
            </tr>
        }
    </table>
</div>

