﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/moment.js")
</head>
<body>
    @RenderSection("scripts", required: false)

    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Театральная касса", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-text">
                        @User.Identity.Name
                    </div>
                    @Html.ActionLink("Выйти", "Logout", "User", new {area = ""}, new {@class = "btn btn-default navbar-btn"})
                }
                else
                {
                    @Html.ActionLink("Войти", "Login", "User", new {area = "", returnUrl = Context.Request.Url}, new {@class = "btn btn-default navbar-btn"})
                    @Html.ActionLink("Зарегистрироваться", "Register", "User", new {area = ""}, new {@class = "btn btn-default navbar-btn"})
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>
